<% provide(:title, "About") %>
<h1>About Unive</h1>
<p>Unive is a lightweight manager for university departments and courses aimed towards small university departments or schools. Our philosophy is to be as simple as possible, but not any simpler.</p>