<div class="center jumbotron">
    <h1>Unive</h1>
</div>

<div class="center">
    <h2>This is your university management page.</h2>
    <% if !logged_in?%>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
    <br />
    On the top right you can find the navigation links required to reach where you want!
</div>