<div class="center jumbotron">
    <h1>Unive</h1>
</div>

<div class="center">
    <h2>This is your university management page.</h2>
    <% if !logged_in?%>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
    <br />
    <% if logged_in? %>
        <% if !current_user.pending_friends.empty? %>
        You have pending friend requests. Please check the friendship page!!!
        <% end %>

        Announcement notifications go in here!! <br />
    <% end %>
</div>