<% provide(:title, 'Students') %>
<h1>Students</h1>
<ul class="students">
  <%#= link_to "New Student", student_new_path, class: "btn btn-lg btn-primary" %>
  Search by Name:
  <%#= Add search here %>
  <table class = "table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Phone #</th>
        <th>Address</th>
        <th>Birth Date</th>
        <th>Departments</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
    <tbody>
        <% @students.each do |student| %>
          <%= render student %>
        <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</ul>