<% provide(:title, @student.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">             
            <h1 class="jumbotron text-center">
                <%= @student.name %>
            </h1>
        <table class = "table table-bordered table-responsive">
            <tbody>
            <%= render 'student_info', student: @student %>
            </tbody>
        </table>
        </section>
    </aside>
    <div class = "col-md-8 text-center" style="margin-top: 20px;">
        This student likes to keep an air of mystery about themselves.
    </div>
</div>