<h3>Your Mutual Friends</h3>
<table class = "table table-bordered table-responsive">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
        <% friends.each do |pfriend| %>
            <tr>
                <th scope="row"><%= pfriend.id %></th>
                <td><%= link_to pfriend.name, pfriend %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= will_paginate friends, :param_name => "mutual_friends_page" %>