<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">             
            <div class="container-fluid jumbotron text-center">
                <div class="row">
                    <%= gravatar_for @user, size: 250, class: "rounded img-fluid" %>
                </div>
            </div>
        </section>
        <table class = "table table-bordered table-responsive">
            <tbody>
            <%= render 'user_info', user: @user %>
            </tbody>
        </table>
    </aside>
    <div class = "col-md-8" style="margin-top: 20px;">
        Lorem ipsum.
    </div>
</div>